/*****************************************************/

/*****************************************************/
/*              OVERRIDE TETHYS DEFAULT              */
#app-header .tethys-app-header .icon-wrapper img {
    border-radius: 0 !important;
}
/*****************************************************/

/*****************************************************/
/*                   GENERAL MODAL                   */
.modal-dialog {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}
.modal-content {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}
.modal-header {
    min-height: 70px;
}
.modal-body {
    position: fixed;
    top: 70px;
    bottom: 65px;
    right: 1px;
    left: 0;
    overflow-y: auto;
}
.modal-footer {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-align-content: space-between;
    -ms-flex-line-pack: justify;
    align-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    height: 65px;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
}
.footer-info {
    text-align: left;
    margin-left: 5px;
}
.modal-body td, .modal-body th {
    padding: 10px;
}
.modal-info {
    margin-right: 38%;
}
.model-btn {
    background-color: #915F6D;
    color: white;
}
.model-btn:not(:disabled):hover {
    background-color: #744c57;
    color: white;
}

/*****************************************************/

/*****************************************************/
/*                  MODEL REP MODAL                  */

#modalModelRep .modal-dialog {
    width: auto;
    margin: 40px;
}
#modalModelRep tbody tr:hover {
    background-color: #0099ff;
    color: white;
    cursor: pointer;
}
#modalModelRep .modal-body {
    bottom: 110px;
    right: 1px;
    left: inherit;
}
#div-chkbx-res-auto-close {
    position: fixed;
    bottom: 65px;
    margin: 10px 0 5px 0;
    height: 30px;
}
#chkbx-res-auto-close {
    margin-left: 25px;
}

input[type="radio"] {
    cursor: pointer;
}

/*****************************************************/

/*****************************************************/
/*                 NODE AND EDGE MODAL               */

#node-modal .modal-dialog, #edge-modal .modal-dialog {
    position: absolute;
    width: 300px;
    height: 345px;
}

/*****************************************************/

/*****************************************************/
/*                      GENERAL                      */

#graph-container {
    height: 500px;
    width: 800px;
    position: relative;
    background-color: #F0F8FF;
    margin:0 auto;
}

.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

.ui-tabs-active a {
    background-color: #915F6D;
    border: none;
}

a:focus {
    outline: none;
}

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover {
     border: none !important;
     background: none !important;
}

.btn-default.focus, .btn-default:focus {
     color: white !important;
     background-color: #915F6D;
}
